// 常用 display 属性
.ui-inline {
  display: inline;
}
.ui-inline-block {
  display: inline-block;
}
.ui-block {
  display: block;
}

// flex 相关
.ui-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ui-inline-flex {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.ui-flex-auto {
  flex: 1;
}

// 文本对其方式
.ui-t-center {
  text-align: center;
}
.ui-t-left {
  text-align: left;
}
.ui-t-right {
  text-align: right;
}

// font
.ui-bold {
  font-weight: 600;
}

// 浮动
.ui-fl {
  float: left;
}
.ui-fr {
  float: right;
}
.ui-clear::before {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

// 鼠标可点击
.ui-pointer {
  cursor: pointer;
}

// 字体大小
.ui-fs-sm {
  font: 12px;
}
.ui-fs-md {
  font: 14px;
}
.ui-fs-l {
  font: 16px;
}
.ui-fs-xl {
  font: 18px;
}
.ui-fs-xxl {
  font: 20px;
}